# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env*.local

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python (archived)
__pycache__/
*.pyc
.venv/
_archive/
.vercel
.env.prod
llm/

# Sentry Config File
.env.sentry-build-plugin
